<!DOCTYPE html>
<html lang="en">
<%- include('../partials/top.ejs')%>
<body>
    <%- include('../partials/home-head.ejs')%>

    <h2 style = "margin-top: 100px; margin-left: 20px; margin-bottom: 30px;">Search results</h2>

    <div class = "user-list">
        <% if(userLst.length > 0) { %>
            <% userLst.forEach(user => { %>
                <div style = "margin-bottom: 20px;" class = "user-display">
                    <a href = '/users/<%= user.username%>'><p style = "margin-left: 20px;"><%= user.username%></p></a>
                </div>
            <% }) %>
        <% } else { %>
            <p>No users found.</p>
        <% } %>
    </div>

    <%- include('../partials/footer.ejs')%>
</body>
</html>